In [3]:
# Import pandas
import pandas as pd

In [4]:
# Create a DataFrame with balance.txt

df = pd.read_csv('balance.txt',sep=' ')

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [ ]:
df.groupby('Ethnicity')['Income'].mean() # comparing average income based on ethnicity

In [9]:
df['Income'].max() # The highest income in the data set

186.634

In [10]:
df['Income'].min() # The lowest income in the data set

10.354

In [ ]:
df['Cards'].sum()     # how many cards we have in the data set

In [53]:
df.groupby('Gender').count()    # how many female vs male info we have

,Balance,Income,Limit,Rating,Cards,Age,Education,Student,Married,Ethnicity
Gender,,,,,,,,,,
Female,207,207,207,207,207,207,207,207,207,207
Male,193,193,193,193,193,193,193,193,193,193